################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RightEmployee/.vs/RightEmployee
/.vs
/RightEmployee/RightEmployeeMVC/bin/Debug/net8.0
/RightEmployee/.vs/ProjectEvaluation
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/RightEmployeeMVC.AssemblyInfo.cs
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/RightEmployeeMVC.AssemblyInfoInputs.cache
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/apphost.exe
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/RightEmployeeMVC.dll
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/RightEmployeeMVC.pdb
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/RightEmployeeMVC.sourcelink.json
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/refint/RightEmployeeMVC.dll
/RightEmployee/RightEmployeeMVC/obj/Debug/net8.0/ref/RightEmployeeMVC.dll
